<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Title | Data visualization course</title>
		<meta name="description"content="Project description">
		<meta name="author" content="Authors' name and ssurname">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- allow webpage to be run in full-screen mode -->
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- set nav bar color -->
		<meta name="theme-color" content="black"> <!-- Chrome, Firefox OS and Opera -->
		<meta name="msapplication-navbutton-color" content="black"> <!-- Windows Phone -->
		<meta name="apple-mobile-web-app-status-bar-style" content="black"> <!-- iOS Safari -->
		<link type="text/css" rel="stylesheet" href="assets/style/style.css">
	</head>
	<body>
		<header id="header">
			<nav>
				<div>
					<a href="../" title="Go back">
						←
					</a>
				</div>
				<div>
					<a href="../../">
						Data visualization course
					</a>
				</div>
			</nav>
		</header>
		<main>
			<header>
				<h1>Project title</h1>
				<h2>Project subtitle</h2>
				<h3>Author n. 1, Author n. 2, Author n. 3</h3>
				<h4>Date</h4>	
			</header>
			<article>
				<section>
					Lorem ipsum
					<figure>
						<img src="assets/images/01.jpg" alt="Hubble Ultra Deep Field" width="1024" height="1024">
						<figcaption>Hubble Ultra Deep Field</figcaption>
					</figure>
				</section>
				<section>Lorem ipsum</section>
				<section>Lorem ipsum</section>
			</article>
		</main>
		<footer>
			footer
		</footer>
	</body>
</html>
